@model string
@{
    ViewData["Title"] = "Your Podcast RSS";
}

<div class="text-center my-5">
    <a href="@Model" class="font-weight-bold text-break">@Model</a>
</div>

<button id="copyButton" class="btn btn-primary text-break d-block m-auto">
    Copy to Clipboard
</button>
<input hidden id="copyTarget" value="@Model" />

@section Scripts {
    <script src="~/js/copyToClipboard.js"></script>
}